doctype html
html(lang="en")
    head
        link(rel="stylesheet" href="index.css")
    body
        hello
        script(type="text/javascript" src="vendor.js")
        script(type="text/javascript" src="template.js")
        script(type="text/javascript" src="bundle.js")
